.elements {
    max-width: 880px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 1fr);
    margin: 51px 0 0 0;
    row-gap: 20px;
    column-gap: 17px;
    justify-content: center;
    padding: 0;
}

@media (max-width: 934px) {
    .elements {
        margin: 36px 0 0 0;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 640px) {
    .elements {
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 1fr);
    }
}